---
---

@import "{{ site.theme }}";

body {
  font-family: 'DejaVu Sans Mono', monospace;
  background-color: #f0f0f0; /* Background color for the whole page */
  color: #333;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-items: flex-start; /* Align items at the start of the flex container */
  }
  .left-column {
    width: 300px; /* Fixed width for the left column */
    background-color: white; /* Distinct white background for the left column */
    padding: 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    height: 100vh; /* Full height viewport */
    overflow-y: auto; /* In case content is taller than the viewport */
  }
  .main-container {
    flex-grow: 1; /* Allow the main content to grow */
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent or solid white background */
    padding: 20px;
    overflow-y: auto; /* Scrollable content */
    margin-left: 20px; /* Space between the left column and the main content */
    height: fit-content; /* Fit the height to the content */
    min-height: 100vh; /* Minimum height to cover viewport */
  }
}

a {
  color: #20603D;
  &:hover {
    color: #2E8B57;
  }
}

.site-logo {
  width: 205px;
  height: auto;
  border: 1px solid #2E8B57;
  display: block;
  margin-bottom: 20px; 
}

.header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  
  h1 {
    margin: 0;
    font-size: 24px;
    color: #2E8B57;
  }
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
  &:hover {
    background-color: #45a049;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 767px) {
  .site-logo {
    display: none; 
  }
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
  .left-column {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
  }
  .main-container {
    flex-grow: 1;
    overflow: auto;
    height: 100vh;
    margin-left: 20px; /* Ensure some space between the columns */
  }
}

#blog-posts .blog-post {
  max-width: 420px;
  margin: 0 auto 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, opacity 0.5s ease-in-out;
  border: 1px solid transparent;
  opacity: 0;
}

#blog-posts .blog-post.fade-in {
  opacity: 1;
}

#blog-posts .blog-post a {
  display: block;
  text-decoration: none;
  color: inherit;
}

#blog-posts .blog-post img {
  width: 100%;
  height: auto;
  display: block;
}

#blog-posts .blog-post:hover {
  transform: scale(1.05);
  border-color: #2E8B57; /* Pine green border on hover */
}
