---
---

@import "{{ site.theme }}";

body {
  font-family: 'DejaVu Sans Mono', monospace;
  background-color: #f0f0f0;
  color: #333;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' stroke='%232E8B57' stroke-width='1'%3E%3Cpath d='M2,2 L6,6 M6,2 L2,6' /%3E%3C/g%3E%3C/svg%3E");
  background-size: 8px 8px;
}

a {
  color: #20603D; /* Darker Pine green */
  &:hover {
    color: #2E8B57; /* Pine Green */
  }
}

.site-logo {
  width: 205px;
  height: auto;
  border: 1px solid #2E8B57;
  display: block;
  margin-bottom: 20px; 
}

.header {
  background-color: #333;
  color: white;
  padding: 20px 0;

  h1 {
    margin: 0;
    font-size: 24px;
    color: #2E8B57; /* Pine green */
  }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  &:hover {
    background-color: #45a049;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 767px) {
  .site-logo {
    display: none; 
  }
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .left-column, .main-container {
    flex-basis: 48%; 
    margin: 20px 0; 
  }
  .left-column {

  }
  .main-container {
    flex-grow: 1;
  }
}

#blog-posts .blog-post a {
  display: block;
  border: 1px solid transparent; /* Default border to ensure layout consistency */
  border-radius: 10px; /* Adds rounded corners */
  overflow: hidden; /* Ensures the image respects the border radius */
  margin-bottom: 20px; /* Space between each blog post link */
  transition: border-color 0.3s ease, transform 0.3s ease; /* Smooth transitions for hover effects */
  text-align: center; /* Center the text */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: Adds a subtle shadow for depth */
}

#blog-posts .blog-post {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#blog-posts .blog-post.fade-in {
  opacity: 1;
}

#blog-posts .blog-post img {
  width: 90%; /* Reduces the size of the image to be slightly smaller */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space below the image */
  margin: 0 auto; /* Center the image within the link */
  border-radius: 10px; /* Ensures the image itself also has rounded corners if needed */
}

#blog-posts .blog-post a:hover {
  border-color: #2E8B57; /* Pine green border on hover */
  transform: scale(1.05); /* Optional: Slightly increases size on hover for emphasis */
}
