---
---

@import "{{ site.theme }}";

body {
  font-family: 'Georgia Serif', Georgia, serif;
  background-color: #FFF9C4;
  color: #333;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' stroke='%232E8B57' stroke-width='1'%3E%3Cpath d='M2,2 L11,11 M11,2 L2,11' /%3E%3C/g%3E%3C/svg%3E");
  background-size: 12px 12px;
}

a {
  color: #2E8B57; /* Pine green */
  &:hover {
    color: #20603D; /* A darker shade of pine green for hover */
  }
}

.header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  
  h1 {
    margin: 0;
    font-size: 24px;
    color: #2E8B57; /* Pine green */
  }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
  &:hover {
    background-color: #45a049;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  padding: 20px; /* Adds space inside the container */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction:row;
    flex-wrap: wrap;
  }
.main-container {
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  padding: 20px;
  margin: 20px auto;
  max-width: 1200px; /* or whatever max width you prefer */
  flex: 1 1 50%;
  }
}
